body {
}
/*전체적인 사이트 사이즈*/
layout {
    display: grid;
    border: 2px #101268;
    grid-template-columns: 1fr 850px 1fr; /*행 크기 조절*/
    grid-template-rows: 60px 1fr 60px; /*열 크기 조절*/
}

.headear {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

.body {
    grid-column-start: 2;
    grid-row-start: 2;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}
div {
    width: 100%;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white
}
/*공지사항 밑 노란줄*/
.bottomborder {
    border-bottom: 2px solid #ffd800
}